<html lang="es">
<head>
    <!-- aqui pondremos el contenido html -->
</head>

<body>
hello word


 <%= title %>
  
  

  <svg  width="400" height="400" viewBox="0 0 40 40">
	  <path d="<%= code.path %>"/>
  </svg>
  
	  
  
</body>
</html>